@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mobilenav-sheet {
  @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
}

.mobilenav-sheet_close {
  @apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60;
}

